

.filter__container{
    background-color: var(--background-cards);
    width: 300px;
    display: flex;
    position: absolute;
    z-index: 2;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    gap: 5px;
    margin: auto;
    border-radius: 10px ;
    width: 50%;
    /* transform: translateX(-80px) */
    /* padding: 5px; */
}
.filter__list{
    cursor: pointer;
    font-size: 20px;
    text-align: left;
}

.filter__list:hover{
    color: var(--inter-letter);
    font-family: 'wifty';
    text-shadow:   2px 2px 1px var(--blur-letter);
    -webkit-text-stroke: 0.5px black;
    font-size: 28px;
}